apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: ruberoo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ruberoo-microservices-frontend:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: VITE_API_BASE_URL
              value: http://api-gateway.ruberoo.svc.cluster.local:8085
          ports:
            - containerPort: 80
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: ruberoo
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 31080
  type: NodePort

