apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: ruberoo
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: rootmitali
  MYSQL_PASSWORD: rootmitali

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init
  namespace: ruberoo
data:
  mysql-init.sql: |
    CREATE DATABASE IF NOT EXISTS ruberoo_user_db CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    CREATE DATABASE IF NOT EXISTS ruberoo_ride_db CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    CREATE DATABASE IF NOT EXISTS ruberoo_tracking_db CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  namespace: ruberoo
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: ruberoo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_ROOT_PASSWORD
            - name: MYSQL_DATABASE
              value: ruberoo_user_db
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
            - name: mysql-init
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: mysql-pvc
        - name: mysql-init
          configMap:
            name: mysql-init

---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: ruberoo
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306

