apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cache
  namespace: ruberoo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-cache
  template:
    metadata:
      labels:
        app: redis-cache
    spec:
      containers:
        - name: redis
          image: redis:6-alpine
          ports:
            - containerPort: 6379
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 10
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: redis-cache
  namespace: ruberoo
spec:
  selector:
    app: redis-cache
  ports:
    - port: 6379
      targetPort: 6379

